<form>
    <fieldset>
      <legend><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Leyenda</font></font></legend>
      <div class="row">
        <label for="staticEmail" class="col-sm-2 col-form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Correo electrónico</font></font></label>
        <div class="col-sm-10">
          <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div>
        <label for="exampleInputEmail1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dirección de correo electrónico</font></font></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Introducir correo electrónico">
        <small id="emailHelp" class="form-text text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nunca compartiremos su correo electrónico con nadie más.</font></font></small>
      </div>
      <div>
        <label for="exampleInputPassword1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contraseña</font></font></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" autocomplete="off">
      </div>
      <div>
        <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ejemplo de selección</font></font></label>
        <select class="form-select" id="exampleSelect1">
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></option>
        </select>
      </div>
      <div>
        <label for="exampleSelect1" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ejemplo de selección deshabilitada</font></font></label>
        <select class="form-select" id="exampleDisabledSelect1" disabled="">
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></option>
        </select>
      </div>
      <div>
        <label for="exampleSelect2" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ejemplo de selección múltiple</font></font></label>
        <select multiple="" class="form-select" id="exampleSelect2">
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></option>
          <option><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></option>
        </select>
      </div>
      <div>
        <label for="exampleTextarea" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ejemplo de área de texto</font></font></label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      <div>
        <label for="formFile" class="form-label mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ejemplo de entrada de archivo predeterminado</font></font></label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <fieldset>
        <legend class="mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Botones de radio</font></font></legend>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
          <label class="form-check-label" for="optionsRadios1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            La primera opción es esta y aquella: asegúrese de incluir por qué es genial.
          </font></font></label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          <label class="form-check-label" for="optionsRadios2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            La opción dos puede ser otra cosa y al seleccionarla se deseleccionará la opción uno.
          </font></font></label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
          <label class="form-check-label" for="optionsRadios3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            La opción tres está deshabilitada
          </font></font></label>
        </div>
      </fieldset>
      <fieldset>
        <legend class="mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Casillas de verificación</font></font></legend>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Casilla de verificación predeterminada
          </font></font></label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
          <label class="form-check-label" for="flexCheckChecked"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Casilla de verificación marcada
          </font></font></label>
        </div>
      </fieldset>
      <fieldset>
        <legend class="mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Interruptores</font></font></legend>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entrada de casilla de verificación de interruptor predeterminada</font></font></label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
          <label class="form-check-label" for="flexSwitchCheckChecked"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entrada de casilla de verificación del interruptor marcada</font></font></label>
        </div>
      </fieldset>
      <fieldset>
        <legend class="mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rangos</font></font></legend>
          <label for="customRange1" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rango de ejemplo</font></font></label>
          <input type="range" class="form-range" id="customRange1">
          <label for="disabledRange" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rango deshabilitado</font></font></label>
          <input type="range" class="form-range" id="disabledRange" disabled="">
          <label for="customRange3" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rango de ejemplo</font></font></label>
          <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
      </fieldset>
      <button type="submit" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entregar</font></font></button>
    </fieldset>
  </form>